main {
    width: 70%;
    margin:auto;
    height: 100vh;
}

#imageAccueilMedecin {
    width: 300px;
}

#imageAccueilBloc {
    width: 700px;
}

.logoReseau {
    width: 30px;
}

.fenetreConnexion{
    width: 400px;
    border: solid 1px;
    border-color: rgba(0,0,0, 24%);
    border-radius:20px;
    padding: 20px;
    
}

#boutonConnexion {
    display: flex;
    justify-content: space-between;
}